{% extends "base.html" %}

{% block content %}
<div class="converter-container">
    <h2 class="block-title">Преобразование текста в речь</h2>
    <form method="POST" class="converter-form">
        <div class="form-group">
            <textarea 
                name="text" 
                class="form-textarea custom-scroll-text" 
                placeholder="Введите текст для преобразования в речь..."
                required
            ></textarea>
        </div>
        <button type="submit" class="submit-btn">
            <span>Преобразовать в речь</span>
            <img src="{{ url_for('static', filename='image/wave.svg') }}" alt="Convert">
        </button>
    </form>
</div>
{% endblock %} 